
.resturant-info {
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    max-width: 100vw;
    box-sizing: border-box;
    margin: 1rem;
    margin-bottom: 10vh;
}

.resturant-info img {
    flex: 1 1 0;
    max-width: 100%;
    height: 60vh;
    object-fit: cover;
    min-width: 0;
    border-radius: 8px;
    height: 100vh;
    max-height: 100vh;
}


.info-section{
    justify-content: center;
    padding:20px;
}

.info-section-content{
    margin-bottom:20vh;
}

.info-section-content,
.dining-info-content{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.info-section-content > h2{
    font-size: 5rem;
    margin-bottom: 20vh;
}

.dining-info-content > h2{
    font-size: 3rem;
    margin-bottom: 10vh;
}

.info-section-content > p,
.dining-info-content > p {
    max-width:60vw;
    font-size:1.5rem;
    line-height: 2.0;
}

.dining-info-content > p{
    max-width:50vw;
}

.info-dining{
    display:flex;
    margin-bottom: 20vh;
}

.dining-info-content-img{
    max-width: 30vw;
    max-height:80vh;
}

.footer-container{
    display:flex;
    flex-direction:column;
}

.footer-upper{
    display:flex;
}

.footer-upper > .footer-branding{
    flex-grow:1;
    text-align: center;
}

.footer-branding > h3{
    font-size: 2rem;
}

.footer-upper > .footer-links{
    flex-grow:2;
}